<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOTS ALLEY : ABOUT US</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'shop/data/img/icon.png' %}" />
    {% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'shop/about.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Header (SECTION 1/3) -->
<header class="masthead">
    <p class="masthead-intro">Hi, I'm</p>
    <h1 class="masthead-heading">Sudhanshu</h1>
  </header>
  
  <!-- the div is used to apply the gradient -->
  <div class="gradient">
  <!-- Body (SECTION 2/3) -->
  <section>
    <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet, vis choro dicam ut. Qui no dicant fierent inciderint, ne ius atomorum consequuntur, ea nibh nullam mel. No atqui placerat liberavisse mei, ne ceteros nostrum eum. In wisi sonet insolens pro. Ei movet malorum consetetur duo. Ex duo simul invidunt, nam dolor graeco ut, quo error aeterno consectetuer te.</p>
      <p class="space-maker">Vel ne labitur nominavi luptatum, eu mei labore dictas. Nam no tamquam scriptorem. Ius te euismod aliquam scaevola.</p>
  </section>
  
  <section>
    <h2>Where I'm From</h2>
      <p class="space-maker">Dicat soluta at nec. Adhuc iuvaret hendrerit mei et, ne sea suas fuisset eloquentiam. Illud aliquid cum at, qui everti deseruisse te, apeirian periculis eu nam. Nibh impetus offendit ne est.</p>
  </section>
  
  <section>
    <h2>More About Me</h2>
    <h3>What are your favorite hobbies?</h3>
    <p class="space-maker">Te harum graeco suavitate sed, at dolore epicuri omittam usu. Porro dicant recusabo et eum. Usu eu nihil munere urbanitas, eu vix unum corpora partiendo, vis legere euismod utroque eu.</p>
    <h3>What's your dream job?</h3>
    <p class="space-maker">Amet possim ex mei, vis ei mucius aperiam, ea quidam adolescens sed. Tota detracto cu duo, delenit argumentum eu quo.</p>
    <h3>What music have you been listening to lately?</h3>
    <p>Ius postulant petentium at, ancillae delicata interpretaris in vis, ei eos suscipit nominati quaerendum. Quo ne tota ludus vivendum. An usu noluisse delicata, delectus petentium et eum.</p>
  </section>
  </div>
  
  <!-- Footer (SECTION 3/3) -->
  <footer class="content-footer">
    <p>Join us at our social media channels :</p>
    <ul class="social">
      <li><a href="https://www.facebook.com" target=_Blank>Facebook</a></li>
      <a href="https://www.facebook.com" class="fa fa-facebook-f" target="_blank">
      </a>

      <li><a href="https://twitter.com" id="check2" target=_Blank>Twitter</a></li>
      <a href="https://twitter.com" class="fa fa-twitter" target="_blank">
      </a>
    </ul>
  </footer>
</body>
</html>