<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOTS ALLEY: ERROR</title>
    {% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'shop/error.css' %}">
    <link rel="shortcut icon" type="image/png" href="./data/img/icon.png" />
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <body>
    
            <!-- Error Page -->
                <div class="error">
                    <div class="container-floud">
                        <div class="col-xs-12 ground-color text-center">
                            <div class="container-error-404">
                                <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                                <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                                <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                                <div class="msg">OH!<span class="triangle"></span></div>
                            </div>
                            <h2 class="h1">Sorry! Page not found</h2>
                        </div>
                    </div>
                </div>
                <button class="btn_home">HOME</button>
            <!-- Error Page -->
    </body>
<script src="{% static 'shop/error.js' %}"></script>
</html>