<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bots Alley</title>
  <link rel="shortcut icon" type="image/png" href="./data/img/icon.png" />
</head>
{% load static %}
  <link rel='stylesheet' type="text/css" href="{% static 'shop/home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}" type="image/x-icon" />
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

<!-- ----------------------------------------------- -->
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>

      <!-- Links -->
      <div class="navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav m-md-auto">
          <li class="nav-item active">
            <a class="nav-link text-danger active fw-bold" href="/home">Home
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bots">Bots</a>
          </li>
        </ul>
              <button class="btn btn-danger px-2 mx-3" id="login_user">Login</button>
              <button class="btn btn-danger px-2 mx-3" id="sign_up_user">Sign Up</button>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view custom-front"
    style="background-image: url('../../static/shop/data/img/pexels-alesia-kozik-6781008.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-size: 100% auto;">
    <div class="bg-text">
      <h2>WELCOME TO</h2>
      <div class="wr">
        <p class="te">BOTS ALLEY</p>
        <p class="te">BOTS ALLEY</p>
        <p class="te">BOTS ALLEY</p>
        <p class="cr"></p>
      </div>
    </div>
  </div>

  </div>
  <div class="motto">
    <h1><img src="{% static 'shop/data/img/icons/bot.png' %}" style="height: 70px; width: 70px; margin-left:10px; margin-right: 10px;"
        alt=""><br>OUR MOTTO</h1>
    <p>"Try, plan, work, implement, improve and repeat"</p>
  </div>

 

 <!-- <div class="ref-box">


 </div> -->





  <div class="bg-image">
    <div class="bg-image"></div>

    <div class="bg-text learn-box" id="bg-text-2">
      <h1>GETTING STARTED?</h1>
      <p>WE ARE HERE TO HELP</p>
      <button class="btn bg-transparent">
        <a href="/bots" class="learn_more">LEARN MORE-></a>
      </button>
    </div>
  </div>



 
  <section class="back_com_sec">
    <div class="back_com">
      <h1>GIVING 70% OF OUR PROFITS BACK TO COMMUNITY</h1>
      <h2>GIVING BACK WHAT BELONGS TO THE COMMUNITY</h2>
      <h4>Earn credits each time you refer someone to our platform.</h4>
      <a href="/about">LEARN MORE -></a>
    </div>

  </section>




  <div class="custom_bot_head"><h1>Want a custom bot? <br> Don't worry we got you covered.</h1>
    <p>Just fill out the form given below.</p>
    </div>
    
    <form id="customBots" action="">
      <div class='custom_bot' id='custom_form'>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Custom bot specifications</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-success submit_custom">SUBMIT</button>
      </div>
      <div class="message_custom" id="msg_custom">
          <h4>ThankYou for submitting the form. We will contact you soon.</h4>
      </div>
    </form>
  
  
























  <!-- -----------------------------FOOTER--------------------------------------------------- -->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <!-- <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div> -->
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="p-4">
      <a href="https://www.facebook.com" class="fa fa-facebook-f" target="_blank">
      </a>

      <a href="https://twitter.com" class="fa fa-twitter" target="_blank">
      </a>

      <a href="https://www.youtube.com" class="fa fa-youtube" target="_blank">
      </a>
      <!-- 
      <a href="https://plus.google.com/u/0/b/107863090883699620484" class="fa fa-google-plus-g" target="_blank">
      </a>

      <a href="https://dribbble.com/mdbootstrap" class="fa fa-dribbble" target="_blank">
      </a>

      <a href="https://pinterest.com/mdbootstrap" class="fa fa-pinterest" target="_blank">
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design"  class="fa fa-github" target="_blank">
      </a>

      <a href="http://codepen.io/mdbootstrap/"  class="fa fa-codepen" target="_blank">
      </a> -->
    </div>
    <!-- Social icons -->

    <!--Copyright-->







    <div class="footer-copyright  m-lg-auto text-white">
      © 2019 Copyright: <a href="/home.html" target="_blank" class="text-white" style="text-decoration: none;">BOTS
        ALLEY.COM</a>
    </div>
    <!--/.Copyright-->

  </footer>
</body>
<script defer src="{% static 'shop/home.js' %}"></script>

</html>