<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BOTS-ALLEY: USER</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
  {% load static %}
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v3.0.6/css/line.css'><link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<link rel="shortcut icon" type="image/png" href="{% static 'shop/data/img/icon.png' %}" />
<body>
<!-- partial:index.partial.html -->
{% if user.is_authenticated %}
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="{% static 'shop/data/img/icons/bot.png' %}"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="/settings">{{ myuser.username }}</a>
      </h5>
      <p class="mt-1 mb-0">{{ myuser.phone }}</p>
    </div>
  </div>
<!-- 
  <div class="search position-relative text-center px-4 py-3 mt-2">
    <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
    <i class="fa fa-search position-absolute d-block fs-6"></i>
  </div> -->

  <ul class="categories list-unstyled">
    <li class="">
      <i class="uil-estate fa-fw"></i><a href="/index" id="dashboard"> Dashboard</a>
      <!-- <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul> -->
    </li>
    <!-- <li class="has-dropdown">
      <i class="uil-envelope-download fa-fw"></i><a href="#"> Mailbox</a>
      <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul>
    </li> -->
    <li class="">
      <i class="uil-shopping-cart-alt"></i><a href="/all_bots"> Ecommerce</a>
      <!-- <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul> -->
    </li>
    <li>
      <i class="uil-bag"></i><a href="/user_bots">Bots owned</a>
      <!-- <ul class="sidebar-dropdown list-unstyled">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul> -->
    </li>
    <li class="">
      <i class="uil-setting"></i><a href="/settings"> Settings</a>
    </li>

    <li class="">
      <i class="uil-usd-circle"></i><a href="/paytm/payments"> payments</a>
    </li>

    <li class="">
      <i class="uil-money-withdraw"></i><a href="/withdraw"> Withdraw</a>
    </li>

    <li class="">
      <i class="uil-signout"></i><a href="/handleLogout"> Logout</a>
    </li>


    <div class="modal fade" id="Modal-AMOUNT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Get Credits</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/user_bots" method="post" >{% csrf_token %}
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Enter Amount here:</label>
                <input type="text" class="form-control" name="amount" id="recipient-name">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  </ul>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="/index">BOTS<span class="main-color"> ALLEY</span></a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="/settings" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="uil-comments-alt"></i><span></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="uil-bell"></i><span>98</span></a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div id="flash">
    {% if messages %}
         {% for message in messages %}
                  <div class="alert alert-{{ message.tags}} m-0" role="alert">
                         <strong>{{ message }}</strong>
                   </div>
         {% endfor %}
    {% endif %}
  </div>
  <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Welcome to Dashboard</h1>
        <p class="mb-0">Hello {{ myuser.username }}, welcome to your awesome dashboard!</p>
      </div>
    </div>

    <section class="statistics mt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">{{ myuser.referral }}</h3> <span class="d-block ms-2">Referral</span>
              </div>
              <p class="fs-normal mb-0">Number of persons you have referred</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-file fs-2 text-center bg-danger rounded-circle"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">{{ myuser.credit }}</h3> <span class="d-block ms-2">CREDITS</span>
              </div>
              <p class="fs-normal mb-0">Recharge your credits when it's low, and enjoy purchasing bots</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center p-3">
            <i class="uil-users-alt fs-2 text-center bg-success rounded-circle"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">{{ myuser.security }}</h3> <span class="d-block ms-2">SECURITY</span>
              </div>
              <p class="fs-normal mb-0">Securty ammount, please recharge when it's low</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js'></script>
<!-- <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.jshttps://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script> -->
<script  src="{% static 'shop/script.js' %}"></script>
<script>
setTimeout(function () {
	 $('#flash').fadeOut('fast');
	 },5000);
</script> 
{% endif %}
</body>
</html>
